#contactsec {
    margin: auto;
    margin-top: 100px;
    width: 600px;
    border: 2px solid gray;
    padding: 50px;
    border-radius: 10px;
}

.form-group {
    margin: 10px;
}

.btn {
    width: 95%;
    margin-left: 10px;
    margin-right: 20px;
}